*{
    font-family: sans-serif;
}
body{
   background-color: rgb(224, 224, 224);
}
.cabecera{
    color: white;
     border:1px solid rgb(255, 255, 255);
     background-image:url('../images/fondo-gradiente-estilo-futurista_23-2149128555.jpg');
     background-size: 1920px;
}
.opciones{
text-align: center;
border:3px solid rgb(255, 255, 255);
margin-top:1px;


}
.enlaces{
    color: rgb(0, 0, 0);
    width: 50px;
    text-align: center;
    font-size: 20px;
    margin: 6px;
    bottom: 2;
    text-decoration: none;
}
.cuerpo{
    margin: 4px;
    border:2px solid rgb(255, 255, 255);
}
.piedepagina{
    background-image:url('../images/fondo-gradiente-estilo-futurista_23-2149128555.jpg');
   background-size: 1920px;
    color: white;
    height: 90px;
    border:1px solid rgb(255, 255, 255);
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}
h1{
  text-align: center;
}
.textoPie{
   left: 20px;
   text-align: center;
   font-size: 30px;
}
table, td {
 border: rgb(74, 153, 255) 5px solid;
  border-radius: 20px;
  background-color: aliceblue;
}
th{
   border: rgb(74, 153, 255) 5px solid;
  border-radius: 20px;
  background-color: rgb(74, 153, 255);  
}
.labelCreacion{
    font-family: sans-serif;
    font-style: inherit;
    font-size: 20px;
}
.emoji1{
    width: 20px;
    height: 20px;
}
.todoplantillas{
    margin-left: 20px;
}
.logo{
    position: relative;
    top: -170px;
    margin-left: 970px;
}